<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    
	<variable name="appName" value="PSScript" />
    <targets>
        <target	name="logfile" xsi:type="File" fileName="E:\MSX_Scripts\Logs\${logger}.log" archiveFileName="E:\MSX_Scripts\Logs\${Shortdate}_${logger}.{##}.log" archiveNumbering="Sequence" archiveEvery="Day" maxArchiveFiles="30" />
        <target name="console" xsi:type="Console" />
		<target name="debugger" xsi:type="OutputDebugString" />
    </targets>

    <rules>
        <logger name="*" minlevel="Trace" writeTo="logfile" />
        <logger name="*" minlevel="Info" writeTo="console" />
		<logger name="*" minlevel="Info" writeTo="debugger" />
    </rules>
</nlog>